.search {
  padding: 60px;
  margin-bottom: 40px;
}
.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type="text"] {
  flex: 6;
  width: 100%;
  height: 20px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.search .container form input[type="text"]::placeholder {
  color: #fff;
}

.search .container form input[type="text"]:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: #f1c40f;
  height: 50px;
  cursor: pointer;
  background: #f1c40f;
  color: #000;
}

.search .container form button:hover {
  background: transparent;
  color: #fff;
  border-color: #f1c40f;
}
